/*-- scss:rules --*/

// Revealjs theme colors
// $link-color: $brand-primary;
// $presentation-heading-color: $brand-primary;

.highlight {
    color: $primary;
    font-weight: bold;
  }

.circle-image-container {
    position: relative;
    height: auto;
    display: inline-block;
  }
  
  .circle-image {
    border-radius: 50%;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  
  .circle-image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 60%;
    background: linear-gradient(to bottom, $brand-white, $brand-dark-green);
    opacity: 1;
    z-index: -1;
  }

.quarto-title-banner {
  background-color: $brand-light-green !important;
  color: $brand-black !important;
  h1 {
    color: $brand-black !important;
  }
}

.reveal {
    h3 {
        color: $brand-black !important;
    }
    .columns {
        .column {
            background-color: $brand-grey !important; 
        }
        
    }
    .quarto-title-block { 

        .quarto-title-acknowledgements {
        color: $primary !important;
        font-size: 0.6em;
        }
    }
}

.text-white {
    color: $brand-white !important;
}

.text-center {
  text-align: center !important;
}